<h1>Create topic</h1>

<form method="post" action="/topic/create">
<table>
<tr>
  <td>Name</td>
  <td><input type="text" name="topic_name" /></td>
</tr><tr>
  <td>Google news url</td>
  <td><input type="text" name="scrape_url" /></td>
</tr>
</table>

<input type="submit" />
</form>
