<h1>Fact checker</h1>

<form method="post" action="/fact_check">
<table>
<tr>
  <td>Search for some shit</td>
  <td><input type="text" name="search" /></td>
</tr>
</table>

<input type="submit" />
</form>
