<html>
<body>

<script src="/js/jquery/jquery-3.2.1.js"></script>
<script src="/js/jquery/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery/jquery-ui.structure.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery/jquery-ui.theme.css" />

<%= yield %>

</body>
</html>
